<!--ここがtopのHTMLページここを操作して、topページを作る最初の書いてあるHTMl文は削除OK-->
<header>
  <div class="herder-logo">
   <h2>Tweeter sample saite</h2>
  </div>
</header>
  <div class="top-main">
  <div class="top-message">
    目標sakura sarverへの移行
  </div>
  <div class="top_menu">
    <ul>
     <li>
      登録ページ
    </li>
   </ul>

  </div>
  <div class="top_menu2">
   <ul>
    <li>
     コンテンツへ
   </li>
  </ul>
  </div>
</div>
